.heading{
    font-size: 30px;
    color: #eb6452;
    text-align: center;
    margin-top: 5%;
    width: 100%;
}

.smallh{
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    color: #eb6452;
    font-family: Helvetica, sans-serif;
    margin-top: 20px;
    padding-bottom: 0px;
}

.aboutMain{
    width: 100%;
    text-align: center;
}
.aboutTile{
    text-align: center;
    border-radius: 20px;
    height: 300px;
    margin: 20px;
    font-size: 18px;
    font-weight: 600;
}

.aboutContent{
    padding: 10px 10px;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    color: darkslategrey;
    font-family: Helvetica, sans-serif;
}

@media only screen and (max-width:650px) {
    .aboutTile{
        width: 300px;
        margin: 10px 0px;
    }
    .smallh{
        width: 100%;
    }
}