
h1{
    margin: 20px;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
}
.course-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.course-card{
    width: 500px;
    padding: 20px 20px;
    text-align: center;
}
.courses-link-button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to right, #00ACDC , #0BDFD5);
    box-shadow: 0px 0px 10px #0BDFD5;
    cursor: pointer;
    outline: none;
}
h2{
    text-align: center;
}

.paras{
    text-align: justify;
}

img{
    display: block;
    object-fit: contain;
    
    width: 100%;
    height: 230px;
    border-radius: 8px;
}



@media only screen and (max-width:650px) {
    
}