
h1{
    margin: 20px;
}
.course-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.course-card{
    width: 600px;
    padding: 20px 0px;
    text-align: center;
}
.courses-link-button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to right, #00ACDC , #0BDFD5);
    box-shadow: 0px 0px 10px #0BDFD5;
    cursor: pointer;
    outline: none;
}
h2{
    text-align: center;
}
@media only screen and (max-width:650px) {
    
}