.trial-input{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
}
.trial-submit-button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    background-color: #e37b3e;
}
.trial-form-container{
    width: 100%;
    display: flex;
    margin-top: 4vh;
}
.trial-form{
    width: 50%;
    padding: 0px 20px;
}

@media only screen and (max-width:1024px){
    .trial-form-container{
        flex-direction: column;
    }
    .trial-form{
        width: 100%;
        margin: 20px 0px;
    }
}