.kids-card{
    display: flex;
    margin: 30px 0px;
}
.kids-courses{
    width: 80%;
}
.kids-image{
    width: 100px;
    height: 100px;
    margin: 20px;
}

.kids-title{
    font-size: 20px;
    font-weight: 700;
    min-width: 200px;
}

.kids-duration{
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    padding-top: 5px;
}

.kids-content{
    font-size: 16px;
    text-align: left;
}

@media only screen and (max-width:1024px){
    .kids-card{
        flex-direction: column;
    }
}