.wallpaper{
    width: 100%;
    background-image: url('./Images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    height: 600px;
    padding: 130px 5%;
    align-items: flex-start;
    z-index: -1;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 100%;
    padding: 20px;
    font-family: 'c';
    font-size: 25px;
  }

.long-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 100%;
    padding: 20px;
    font-family: 'c';
    font-size: 25px;
    margin-top: 10px;
}
.para{
    width: 100%;
    height: 600px;
    background-color: transparent;
    padding: 50px 20px;
    z-index: 2;
}
.sub{
    text-align: center;
    font-family: 'j';
    font-size: 25px;
}
.heading{
    font-family: 'j';
    font-size: 30px;
    font-weight: 300;
    padding: 20px 40px;
    background-color: white;
    border-radius: 10px;
}
.shadow{
    box-shadow: 40px 10px 50px rgba(0,0,0, 0.4);
    width: 70%;
    border-radius: 30%;
    margin-top: 20px;
}
.wallpaper2{
    background-image: url('./Images/ai.jpg');
    width: 100%;
    height: 100px;
    position: sticky;
    background-size: cover;
    bottom: 0;
    z-index: -1;
}
.long{
    padding: 0px 40px;
    font-family: 'j';
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
}
.glow{
    background-image: linear-gradient(to bottom right, #04BFBF, #04D9B2);
    border: none;
    box-shadow: none;
    padding: 20px 30px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 5px 5px 20px #04BFBF;
    outline: none;
    cursor: pointer;
}
.image{
    transition: transform .2s;
    cursor: pointer;
}
.image:hover{
    transform: scale(1.1);
}
