.wallpaper{
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    height: 800px;
    padding: 130px 5%;
    align-items: flex-start;
    z-index: -1;
}

.bg-text {
    color: #14bc16;
    font-weight: bold;
    width: 100%;
    padding: 100px;
    font-family: 'c';
    font-size: 25px;
  }

.long-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color:#14bc16;
    font-weight: bold;
    width: 100%;
    padding: 5px 100px;
    font-family: 'c';
    font-size: 25px;
    margin-top: 10px;
}
.para{
    width: 100%;
    background-color: transparent;
    padding: 50px 20px;
    z-index: 2;
}
.sub{
    text-align: center;
    font-family: 'j';
    font-size: 25px;
}
.heading{
    font-family: 'j';
    font-size: 30px;
    font-weight: 300;
    padding: 20px 40px;
    background-color: white;
    border-radius: 10px;
}
.shadow{
    box-shadow: 40px 10px 50px rgba(0,0,0, 0.4);
    width: 70%;
    border-radius: 30%;
    margin-top: 20px;
}
.wallpaper2{
    background-image: url('./Images/ai.jpg');
    width: 100%;
    height: 100px;
    position: sticky;
    background-size: cover;
    bottom: 0;
    z-index: -1;
}
.long{
    padding: 0px 40px;
    font-family: 'j';
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
}
.glow{
    background-image: linear-gradient(to bottom right, #04BFBF, #04D9B2);
    border: none;
    box-shadow: none;
    padding: 20px 30px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 5px 5px 20px #04BFBF;
    outline: none;
    cursor: pointer;
}
.image{
    transition: transform .2s;
    cursor: pointer;
    background-color: white;
    margin-bottom: 20px;
}
.image:hover{
    transform: scale(1.1);
}
.grid{
    background-image: url('./Images/Heading.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    box-shadow: 2px 5px 20px #6CD9BA;
    border-radius: 20px;
    justify-content: space-evenly;
    margin-top: 40px;
    padding-bottom: 80px;
}
.features{
    width: 100%;
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 40px;
    font-family: 'j';
}
.card{
    border-radius: 20px;
    margin: 20px 0px;
    width: 400px;
    margin: 40px;
}
.cardTitle{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 20px;
}
.cardSubTitle{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.offers{
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    background-image: linear-gradient(to bottom right, #F29F05, #F2B705);
    box-shadow: 2px 5px 20px #F2B705;
}
.footer{
    width: 100%;
    height: 500px;
    color: white;
    background-color: #091626;
    padding: 40px;
    color: white;
    font-size: 18px;
}
td{
    font-weight: 200;
    text-align: center;
    margin: 20px;
    font-size: 15px;
}
.signUp{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.glow1{
    background-image: linear-gradient(to bottom right, #04BF7B, #05F283);
    border: none;
    box-shadow: none;
    padding: 20px 30px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 5px 5px 20px #05F283;
    outline: none;
    cursor: pointer;
}
.topButton{
    margin: 0px 20px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
}
.topButton:hover{
    border-color: white;
}
.mobile{
    display: none;
}

.courseTile{
    width: 150px;
    background-color: white;
    border-radius: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

@media only screen and (max-width:650px) {
    .responsive{
      display: none;
    }
    .mobile{
      display: contents;
    }
    .para{
        top: 0;
        padding: 40px 5px;
        background-color: black;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: auto;
    }
    .bg-text{
        font-size: 18px;
        padding: 20px;
    }
    .long-text{
        font-size: 18px;
        padding: 2px 20px;
    }
    .heading{
        font-size: 16px;
        padding: 0px;
    }
    .long{
        padding: 0px;
    }
    .li{
        font-size: 12px;
    }
    .footer{
        padding: 10px;
        font-size: 10px;
    }
    td{
        font-size: 10px;
        margin: 0;
    }
    .features{
        font-size: 20px;
    }
    .glow1{
        font-size: 13px;
        padding: 10px 20px;
    }
    .features{
        padding: 0px;
        margin-bottom: 20px;
    }
    .courseTile{
        width: 100px;
        background-color: white;
        border-radius: 10px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px;
    }
    .offers{
        height: auto;
        margin: 0;
    }
    .features{
        margin-top: 10px;
    }
    .grid{
        width: 90%;
        margin-bottom: 30px;
        background-size: 400px;
    }
  }

  a a:active a:visited{
      text-decoration: none;
      text-emphasis: none;
  }
.Link{
      text-decoration: none;
      text-emphasis: none;
  }
  