body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'c';
  src: local('c'), url(./Fonts/dpsdbeyond/DPSDbeyond.otf) format('truetype');
}

@font-face {
  font-family: 'a';
  src: local('a'), url(./Fonts/PTSans/PTSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'b';
  src: local('b'), url(./Fonts/PTSans/PTSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'j';
  src: local('j'), url(./Fonts/jetbrains-mono/JetBrainsMono-1.0.2/ttf/JetBrainsMono-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'q';
  src: local('q'), url(./Fonts/beautiful-people-font/BeautifulPeoplePersonalUse-dE0g.ttf) format('truetype');
}